doctype html
html(data-ng-app=pkg.name, lang="en", data-ng-controller="BaseCtrl")
  head
    block title

    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    base(href="/")
    block stylesheets

    //- inject:css
    link(rel="stylesheet", href="/0.0.3/css/app.min.css")
    //- endinject

    block scripts

  body(ng-cloak)
    
    block content
    //- inject:js
    script(src="/0.0.3/js/vendor.min.js")
    script(src="/0.0.3/js/app.min.js")
    //- endinject